body {
    font-family: 'Noto Sans KR', sans-serif;
}

.detail-container {
    /*background-color: red!important;*/
    margin-top: 15vh!important;
    width: 1200px;
    padding: 0!important;
    min-width: 1200px;
}

.review {
    width: 1030px;
    padding-bottom: 50px;
}

#review-img {
    border-radius: 0;
    width: 70%;
}

#inputQuantity {
    border-radius: 25px;
    border: 1px solid #36363f;
}

#inputQuantity:focus {
    border: 1px solid #028DFF;
}

#option-sel {
    width: 100px;
    border-radius: 25px;
    border: 1px solid #36363f;
    box-shadow: none !important;

}

#option-sel:focus {
    border: 1px solid #028DFF;
}

.add-btn {
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    background-color: #36363f;
    color: white;
}

.add-btn:hover {
    background-color: #028DFF;
    border: 1px solid #028DFF;
}

.add-btn:active{
    background-color: #028DFF;
    border: 1px solid #028DFF;
}

#cart-icon, #buy-icon, #like-icon {
    color: white;
    margin-right: 5px;
}

.detail-btn {
    font-size: 15px;
    color: white;
    background-color: #36363f;
    border: 1px solid #36363f;
    border-radius: 30px;
    padding: 10px 20px;
}

.detail-btn:hover {
    background-color: #028DFF;
    border: 1px solid #028DFF;
    color: white;
}

.detail-btn:active {
    background-color: #028DFF;
    border: 1px solid #028DFF;
    color: white;
}

#small-pic {
    margin-top: 4px;
}

.other-title {
    width: 1000px;
    display: inline-block;
}
.other-link {
    width: 220px;
    display: inline-block;
    text-decoration: none;
    color: #36363f;
    text-align: right;
    font-weight: 500!important;
}

.other-link:hover {
    color: #36363f;
}


.review-title {
    width: 1000px;
    display: inline-block;
}

/*#add-review-btn {*/
/*    width: 220px;*/
/*    display: inline-block;*/
/*    text-align: right;*/
/*}*/

.profile-container {
    padding: 15px;
}

.dt-profile-container {
    width: 100px;
    height: 100px;
    margin: 5px 30px 5px 5px;
}

.dt-profile-container img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.user-name {
    font-size: 18px;
    font-weight: 700;
}

#dt-profile-icon {
    color: #e3e3e8!important;
}

.review-content {
    display: none;
    width: 1050px;
}

.review-content-title {
    color: #36363f;
    text-decoration: none;
    cursor: pointer;
}

.review-content-title:hover {
    color: #028DFF;
}

.re-btn a {
    color: white;
    background-color: #36363f;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: 1px solid #36363f;
}

.re-btn a:hover {
    background-color: #028DFF;
    color: white;
    border: 1px solid #028DFF;
}

.re-btn a:active {
    background-color: #028DFF;
    color: white;
    border: 1px solid #028DFF;
}

input:focus, input:active, button:focus, button:active, .re-btn a:focus, .re-btn a:active {
    outline: none !important;
    box-shadow: none !important;
}

#like-btn i {
    color: white;
}

#empty {
    border-radius: 10px;
    border: 1px solid #e3e3e8;
}
