.edit-faq-container {
    width: 800px;
    margin-top: 20vh!important;
    /* footer 고정 */
    position: relative;
    padding-bottom: 200px;
}

footer {
    /* footer 고정 */
    width:100%;
    position:absolute;
}

.edit-faq-form {
    height: 40px;
    border-radius: 8px!important;
}

#edit-faq-content {
    height: 300px;
    min-height: 300px;
    max-height: 500px;
}

input:focus, input:active, button:focus, button:active, textarea:focus, textarea:active {
    outline: none !important;
    box-shadow: none !important;
}

.faq-btn {
    width: 90px;
    color: white;
    background-color: #36363f;
    padding: 7px 15px 7px 15px;
    border-radius: 20px;
    border: 1px solid #36363f;
    float: right;
}

.faq-btn:hover {
    background-color: #028DFF;
    color: white;
    border: 1px solid #028DFF;
}

.faq-btn:active {
    background-color: #028DFF;
    color: white;
    border: 1px solid #028DFF;
}