/*body{margin-top:20px;}*/
/*.card-style1 {*/
/*    box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);*/
/*}*/
/*.border-0 {*/
/*    border: 0!important;*/
/*}*/
/*.card {*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-width: 0;*/
/*    word-wrap: break-word;*/
/*    background-color: #fff;*/
/*    background-clip: border-box;*/
/*    border: 1px solid rgba(0,0,0,.125);*/
/*    border-radius: 0.25rem;*/
/*}*/

/*section {*/
/*    padding: 120px 0;*/
/*    overflow: hidden;*/
/*    background: #fff;*/
/*}*/
/*.mb-2-3, .my-2-3 {*/
/*    margin-bottom: 2.3rem;*/
/*}*/

/*.section-title {*/
/*    font-weight: 600;*/
/*    letter-spacing: 2px;*/
/*    text-transform: uppercase;*/
/*    margin-bottom: 10px;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/
/*.text-primary {*/
/*    color: #ceaa4d !important;*/
/*}*/
/*.text-secondary {*/
/*    color: #15395A !important;*/
/*}*/
/*.font-weight-600 {*/
/*    font-weight: 600;*/
/*}*/
/*.display-26 {*/
/*    font-size: 1.3rem;*/
/*}*/

/*@media screen and (min-width: 992px){*/
/*    .p-lg-7 {*/
/*        padding: 4rem;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 768px){*/
/*    .p-md-6 {*/
/*        padding: 3.5rem;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 576px){*/
/*    .p-sm-2-3 {*/
/*        padding: 2.3rem;*/
/*    }*/
/*}*/
/*.p-1-9 {*/
/*    padding: 1.9rem;*/
/*}*/

/*.bg-secondary {*/
/*    background: #15395A !important;*/
/*}*/
/*@media screen and (min-width: 576px){*/
/*    .pe-sm-6, .px-sm-6 {*/
/*        padding-right: 3.5rem;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 576px){*/
/*    .ps-sm-6, .px-sm-6 {*/
/*        padding-left: 3.5rem;*/
/*    }*/
/*}*/
/*.pe-1-9, .px-1-9 {*/
/*    padding-right: 1.9rem;*/
/*}*/
/*.ps-1-9, .px-1-9 {*/
/*    padding-left: 1.9rem;*/
/*}*/
/*.pb-1-9, .py-1-9 {*/
/*    padding-bottom: 1.9rem;*/
/*}*/
/*.pt-1-9, .py-1-9 {*/
/*    padding-top: 1.9rem;*/
/*}*/
/*.mb-1-9, .my-1-9 {*/
/*    margin-bottom: 1.9rem;*/
/*}*/
/*@media (min-width: 992px){*/
/*    .d-lg-inline-block {*/
/*        display: inline-block!important;*/
/*    }*/
/*}*/
/*.rounded {*/
/*    border-radius: 0.25rem!important;*/
/*}*/
body {
    font-family: 'Noto Sans KR', sans-serif !important;
}

.mypage-container {
    width: 1200px;
    position: relative;
    margin-top: 10vh;
    min-width: 1200px;
}

i {
    color: #36363f;
}

.profile-card {
    margin-top: 50px;
    background-color: #f0f0f6;
}

.bg-secondary {
    background: none !important;
}

.bg-secondary h3 {
    color: #36363f !important;
    font-weight: 700;
}

.bg-secondary span {
    color: #028DFF !important;
}

.list-unstyled {
    margin-top: 20px;
}

.sub-title {
    font-size: 25px;
    font-weight: 700;
}

.profile-content {
    margin-left: 15px;
    /*position: relative;*/
}

.profile-icon {
    width: 250px;
    height: 250px;
    padding-top: 50px;
    text-align: center;
}

.profile-edit-btn {
    float: right;
    font-size: 15px;
    color: white;
    background-color: #36363f;
    border: 1px solid #36363f;
    border-radius: 30px;
    padding: 10px 20px;
    position: absolute;
    top: 75%;
    left: 90%;
}

.profile-edit-btn:hover {
    color: white;
    background-color: #028DFF;
    border: 1px solid #028DFF;
}

.profile-edit-btn:active {
    color: white;
    background-color: #36363f;
    border: 1px solid #36363f;
}

.cart-container {
    position: relative;
}



.buy-btn {
    cursor: pointer;
    float: right;
    font-size: 15px;
    color: white;
    background-color: #36363f;
    border: 1px solid #36363f;
    border-radius: 30px;
    padding: 10px 20px;
    position: absolute;
    left: 90%;
    text-decoration: none;
}

.buy-btn:hover {
    color: white;
    background-color: #028DFF;
    border: 1px solid #028DFF;
}

.buy-btn:active {
    color: white;
    background-color: #36363f;
    border: 1px solid #36363f;
}

/* * cart * */

.mp-tr-header {
    background-color: #f0f0f6;
}

.cart-table th {
    text-align: center;
}

.td-center {
    text-align: center;
    line-height: 100px;
}

.td-center-mp {
    text-align: center;
    line-height: 100px;
}

/* * wish list * */
.wish-list {
    width: 1175px;
    margin-bottom: -50px;
    /*white-space: nowrap;*/
    /*padding: 10px;*/
}

.collection-list {
}

.card {
    margin-bottom: 10px !important;
    border-radius: 15px;
    border: 1px solid #e3e3e8;
}

.card img {
    border-radius: 15px 15px 0 0;
}

.detail-btn {
    font-size: 15px;
    color: white;
    background-color: #36363f;
    border: 1px solid #36363f;
    border-radius: 30px;
    padding: 10px 20px;
}

.detail-btn:hover {
    background-color: #028DFF;
    border: 1px solid #028DFF;
    color: white;
}

.detail-btn:active {
    background-color: #028DFF;
    border: 1px solid #028DFF;
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wish-list-box {
    max-width: 1200px;
    width: 100%;
    height: 420px;
}

#tab {
    height: 420px;
}

#tab ul {
    white-space: nowrap;
    overflow-x: auto;
    height: 470px;
    padding-left: 0;
}

#tab ul li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 5px;
    height: 350px;
}

.product-card {
    width: 250px;
}

#tab ul::-webkit-scrollbar {
    color: white!important;
    width: 8px;
    height: 5px;
}

#tab ul::-webkit-scrollbar-thumb {
    background-color: #e3e3e8;
    border-radius: 15px;
}

.paging {
    display: inline-block;
}

.sum {
    float: right;
    display: inline-block;
    margin-right: 10px;
}

#quantity {
    padding: 5px 10px;
    width: 1px!important;
    height: 39px!important;
    border: 1px solid #d7d7de;
    border-radius: 5px;
    margin-top: 33px;
}

#like-empty {
    border-radius: 10px;
    border: 1px solid #e3e3e8;
}