.review-container {
    margin-top: 15vh!important;

    /* footer 고정*/
    position: relative;
    padding-bottom: 100px;
    width: 1200px;
}

.review-title {
    margin-bottom: 15vh;
}

.review-title h2 {
    font-size: 45px;
    /*font-weight: 700;*/
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.review-title h3 {
    margin-top: 30px;
    font-size: 20px;
}

.no {
    width: 10%;
}

.th-content {
    text-align: center;
}

.td-content {
    padding-left: 30px!important;
}

.td-content-detail {
    padding-left: 50px!important;
}

.faq-tr-header {
    background-color: #f0f0f6;
}

.view {
    text-decoration: none;
    color: #36363f;
}

.view:hover {
    color: #028DFF;
}

.review-content {
    display: none;
    width: 950px!important;
}

.profile-container {
    padding: 15px;
}

.dt-profile-icon-container {
    width: 150px;
    height: 150px;
    margin: 0 10px;
}

.user-name {
    font-size: 18px;
    font-weight: 700;
}

#dt-profile-icon {
    color: #e3e3e8!important;
}

.review-content {
    display: none;
    width: 1050px;
}

.review-content-title {
    color: #36363f;
    text-decoration: none;
}

.review-content-title:hover {
    color: #028DFF;
}

#re-wr-btn {
    width: 90px;
    color: white;
    background-color: #36363f;
    padding: 7px 15px 7px 15px;
    border-radius: 20px;
    border: 1px solid #36363f;
    float: right;
    margin: 10px 5px 15px 0!important;
    /*position: absolute;*/
    /*top: 19%;*/
    /*right: 2%;*/
}

#re-wr-btn:hover {
    background-color: #028DFF;
    color: white;
    border: 1px solid #028DFF;
}

#re-wr-btn:active {
    background-color: #028DFF;
    color: white;
    border: 1px solid #028DFF;
}

.re-btn a {
    color: white!important;
    background-color: #36363f;
    padding: 7px 15px 7px 15px;
    border-radius: 20px;
    border: 1px solid #36363f;
    margin-bottom: 10px;
    width: 80px;
}

.re-btn a:hover {
    background-color: #028DFF;
    color: white;
    border: 1px solid #028DFF;
}

.re-btn a:active {
    background-color: #028DFF;
    color: white;
    border: 1px solid #028DFF;
}

#product-img {
    width: 120px;
    height: 120px;
    border-radius: 10px!important;
}

.review {
    width: 950px;
    padding-bottom: 50px;
}

input:focus, input:active, button:focus, button:active, .re-btn a:focus, .re-btn a:active {
    outline: none !important;
    box-shadow: none !important;
}

/* footer 고정*/
.footer {
    width:100%;
    position:absolute;
}

#review-img {
    border-radius: 0;
    width: 70%;
}