.search-container {
    height: 100%;
    margin-top: 15vh;
}

.search-result {
    text-align: center;
}

.search-list-container {
    height: 100% !important;
}

.search-title h2 {
    font-size: 45px;
    /*font-weight: 700;*/
    font-family: 'Kanit', sans-serif;
    font-weight: 800!important;
    font-style: italic;
}

.search-title h3 {
    margin-top: 30px;
    font-size: 20px;
}

.filter-button-group {
    padding-bottom: 30px;
}

.img-fluid {
    height: 250px;
}

.rec-container {
    margin-top: 20vh!important;
    margin-bottom: 10vh!important;
}

.rec-wrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.rec-img {
    position: relative;
    overflow: hidden;
}

.rec-img img {
    width: 220px;
    height: 220px;
    margin: 0 3px;
    cursor: pointer;
}

.caption p {
    color: white;
    margin-left: 15px;
    line-height: 10px;
}

#rec-item-title {
    font-size: 18px;
    font-weight: 500;
}

.rec-img:hover .caption {
    opacity: 0.3; /* 설명글이 화면에 보이게 됨 */
    /*transform: translateY(+200px);  !* 설명글이 위로 200px 이동 *!*/
    cursor: pointer;
}

.caption {
    margin: 0 3px;
    position: absolute;
    top: 0px; /* 기준 위치에서 200px 아래로 */
    width: 220px;
    height: 220px;
    padding-top: 20px;
    background-color: #36363f; /* 반투명한 검정배경 */
    opacity: 0%; /* 화면에 보이지 않게 */
    transition: all 0.3s ease-in-out;
    z-index: 10;
}